<h1> Upload media Assets </h1>
<div>
	<%= form_for(@message, url: messages_path, method: :post) do |f| %>
	  <%= f.label :media_assests, "Select an Image/Video/PDF file"  %>
	  <%= f.file_field :media_assests, multiple: true,  accept: 'image/*, video/*, .pdf' %>
	  <%= f.submit 'Upload'%>
	<% end%>
</div>
<br>
<br>
<div>
<%= form_for(@message, url: messages_path, method: :post) do |f| %>
    <%= f.label :media_assests, "Select an MP4"  %>
	  <%= f.file_field :media_assests, multiple: true,  accept: "video/mp4" %>
	  <%= f.submit 'Upload mp4'%>
	<% end%>
</div>
<br>
<br>
<div>
  <%= form_for(@message, url: messages_path, method: :post) do |f| %>
  <%= f.label :image, "Select an Image"  %>
  <%= f.file_field :media_assests, multiple: true,  accept: 'image/* ' %>
  <%= f.submit 'Upload Image'%>
<% end %>
</div>
